@model Nieruchomosci.Data.Data.CMS.Aktualnosc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aktualnosc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkTytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkTytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ikona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ikona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Komentarz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentarz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUtworzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUtworzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracownikDodajacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracownikDodajacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEdycji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEdycji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracownikEdytujacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracownikEdytujacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUsuniecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUsuniecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PracownikUsuwajacy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PracownikUsuwajacy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAktualnosci">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
