@model IEnumerable<Nieruchomosci.Data.Data.CMS.Aktualnosc>

@{
    ViewData["Title"] = "Aktulaności";
}

<h1>Aktualności</h1>

<p>
    <a asp-action="Create">Nowa aktualność</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LinkTytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ikona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pozycja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentarz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUtworzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracownikDodajacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEdycji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracownikEdytujacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUsuniecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracownikUsuwajacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywny)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LinkTytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ikona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozycja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentarz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUtworzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracownikDodajacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEdycji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracownikEdytujacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUsuniecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracownikUsuwajacy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyAktywny)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAktualnosci">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAktualnosci">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAktualnosci">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
